body {
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h2 {
    font-size: 4vw;
    /* font-weight: bold; */
    margin-bottom: 10px;
    word-wrap: break-word;
}

.title {
    /* height: auto; */
    max-height: 35vh;
}

h3 {
    font-size: 4vw;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.choice {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
}

.option {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
    /* margin: 5px; */
    cursor: pointer;
    white-space: normal; /* 允许文字换行 */
    word-wrap: break-word;
    width: 70vw; /* 设置宽度为百分比 */
    /* height: 8vh; */

}

/* .option:hover {
            background-color: #e9e9e9;
        } */

.selected {
    /* background-color: #007bff;
            color: #fff; */
}

.selected_choice {
    background-color: #007bff;
    color: #fff;
}

.correct {
    background-color: #5cb85c;
    color: #fff;
}

.wrong {
    background-color: #d9534f;
    color: #fff;
}
#btn {
    position: fixed;
    /* padding: 4vw; */
    left: auto;
    right: auto;
    bottom: 14vh;
    padding-left: auto;
    padding-right: auto;
    /* padding-bottom: 40vh; */
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 19vw;
}


#sure, #nextQuestion {
    display:block;
    width: 70vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
}

/* a:hover {
            background-color: #0056b3;
        } */

.result {
    margin-top: 20px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 20px;
        padding: 10px;
    }

    h3 {
        font-size: 16px;
        padding: 5px;
    }

    .option {
        padding: 8px 16px;
    }

    a {
        padding: 8px 16px;
    }
}